<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>18.0</Version>
<Cluster>
<Name>设置输入</Name>
<NumElts>12</NumElts>
<Cluster>
<Name>当前项目UI</Name>
<NumElts>24</NumElts>
<String>
<Name>控制参数配置</Name>
<Val></Val>
</String>
<String>
<Name>模拟响应配置</Name>
<Val></Val>
</String>
<String>
<Name>串口通信配置</Name>
<Val></Val>
</String>
<String>
<Name>数据显示配置</Name>
<Val></Val>
</String>
<String>
<Name>数据记录配置</Name>
<Val></Val>
</String>
<String>
<Name>安全/报警配置</Name>
<Val></Val>
</String>
<String>
<Name>模拟负载数据</Name>
<Val></Val>
</String>
<String>
<Name>模拟加载数据</Name>
<Val></Val>
</String>
<Boolean>
<Name>总电源</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>电机1上电</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>电机2上电</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>串口连接</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>电机1
相电流报警</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>电机2
相电流报警</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>电机1
母线电压报警</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>电机2
母线电压报警</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>从文件加载</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
<Path>
<Name>项目路径</Name>
<Val></Val>
</Path>
<String>
<Name>项目名</Name>
<Val></Val>
</String>
<String>
<Name>创建时间</Name>
<Val></Val>
</String>
<String>
<Name>上次使用时间</Name>
<Val></Val>
</String>
</Cluster>
<Cluster>
<Name>模拟响应UI</Name>
<NumElts>17</NumElts>
<DBL>
<Name>柱塞泵P!口压强</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>柱塞泵P2口压强</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>柱塞泵P1口流量</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>柱塞泵P2口流量</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>柱塞泵泄露流量</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>蓄能器压强</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>单向阀1流量</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>单向阀2流量</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>液压缸压强1</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>液压缸压强2</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>液压缸流量1</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>液压缸流量2</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>做动器速度</Name>
<Val>0.00000000000000</Val>
</DBL>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>从文件加载</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
</Cluster>
<Cluster>
<Name>模拟负载UI</Name>
<NumElts>4</NumElts>
<String>
<Name>负载数据</Name>
<Val></Val>
</String>
<Array>
<Name>负载数据 2</Name>
<Dimsize>0</Dimsize>
<DBLWaveform>
<Name>Waveform</Name>
<Cluster>
<Name></Name>
<NumElts>5</NumElts>
<Timestamp>
<Name>t0</Name>
<Cluster>
<Name></Name>
<NumElts>4</NumElts>
<I32>
<Name></Name>
<Val></Val>
</I32>
<I32>
<Name></Name>
<Val></Val>
</I32>
<I32>
<Name></Name>
<Val></Val>
</I32>
<I32>
<Name></Name>
<Val></Val>
</I32>
</Cluster>
</Timestamp>
<DBL>
<Name>dt</Name>
<Val></Val>
</DBL>
<Array>
<Name>Y</Name>
<Dimsize>0</Dimsize>
<DBL>
<Name></Name>
<Val></Val>
</DBL>
</Array>
<Cluster>
<Name>error</Name>
<NumElts>3</NumElts>
<Boolean>
<Name>status</Name>
<Val></Val>
</Boolean>
<I32>
<Name>code</Name>
<Val></Val>
</I32>
<String>
<Name>source</Name>
<Val></Val>
</String>
</Cluster>
<LvVariant>
<Name>attributes</Name>
</LvVariant>
</Cluster>
</DBLWaveform>
</Array>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>模拟控制UI</Name>
<NumElts>4</NumElts>
<String>
<Name>控制数据</Name>
<Val></Val>
</String>
<Array>
<Name>负载数据 2</Name>
<Dimsize>0</Dimsize>
<DBLWaveform>
<Name>Waveform</Name>
<Cluster>
<Name></Name>
<NumElts>5</NumElts>
<Timestamp>
<Name>t0</Name>
<Cluster>
<Name></Name>
<NumElts>4</NumElts>
<I32>
<Name></Name>
<Val></Val>
</I32>
<I32>
<Name></Name>
<Val></Val>
</I32>
<I32>
<Name></Name>
<Val></Val>
</I32>
<I32>
<Name></Name>
<Val></Val>
</I32>
</Cluster>
</Timestamp>
<DBL>
<Name>dt</Name>
<Val></Val>
</DBL>
<Array>
<Name>Y</Name>
<Dimsize>0</Dimsize>
<DBL>
<Name></Name>
<Val></Val>
</DBL>
</Array>
<Cluster>
<Name>error</Name>
<NumElts>3</NumElts>
<Boolean>
<Name>status</Name>
<Val></Val>
</Boolean>
<I32>
<Name>code</Name>
<Val></Val>
</I32>
<String>
<Name>source</Name>
<Val></Val>
</String>
</Cluster>
<LvVariant>
<Name>attributes</Name>
</LvVariant>
</Cluster>
</DBLWaveform>
</Array>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>串口通信UI</Name>
<NumElts>21</NumElts>
<U32>
<Name>DevType</Name>
<Val>0</Val>
</U32>
<U32>
<Name>Channel</Name>
<Val>0</Val>
</U32>
<U32>
<Name>AccCode</Name>
<Val>0</Val>
</U32>
<U32>
<Name>AccMask</Name>
<Val>0</Val>
</U32>
<U32>
<Name>InitFlag</Name>
<Val>0</Val>
</U32>
<U8>
<Name>Mode</Name>
<Val>0</Val>
</U8>
<U8>
<Name>kBaudRate</Name>
<Val>0</Val>
</U8>
<U8>
<Name>Fliter</Name>
<Val>0</Val>
</U8>
<Boolean>
<Name>Open</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>Close</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>连接状态</Name>
<Val>0</Val>
</Boolean>
<U32>
<Name>SendCnt</Name>
<Val>0</Val>
</U32>
<U32>
<Name>RecvCnt</Name>
<Val>0</Val>
</U32>
<Boolean>
<Name>Send</Name>
<Val>0</Val>
</Boolean>
<U32>
<Name>ID</Name>
<Val>0</Val>
</U32>
<String>
<Name>Data</Name>
<Val></Val>
</String>
<U8>
<Name>Type</Name>
<Val>0</Val>
</U8>
<U8>
<Name>Format</Name>
<Val>0</Val>
</U8>
<Boolean>
<Name>Clear</Name>
<Val>0</Val>
</Boolean>
<I32>
<Name>list</Name>
<Val>0</Val>
</I32>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
</Cluster>
<Cluster>
<Name>数据记录UI</Name>
<NumElts>9</NumElts>
<Path>
<Name>保存路径</Name>
<Val></Val>
</Path>
<String>
<Name>文件命名设置</Name>
<Val></Val>
</String>
<String>
<Name>存储数据</Name>
<Val></Val>
</String>
<String>
<Name>保存格式</Name>
<Val></Val>
</String>
<Boolean>
<Name>复选框</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>从文件加载</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
</Cluster>
<Cluster>
<Name>控制参数UI</Name>
<NumElts>16</NumElts>
<DBL>
<Name>d轴电流环P</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>转速环P</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>q轴电流环P</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>d轴电流环P</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>转矩环P</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>去轴电流环P</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>转速环I</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>q轴电流环I</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>d轴电流环I</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>转矩环I</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>q轴电流环I</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>d轴电流环I</Name>
<Val>0.00000000000000</Val>
</DBL>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>从文件加载</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
</Cluster>
<Cluster>
<Name>安全报警UI</Name>
<NumElts>20</NumElts>
<DBL>
<Name>报警扭矩</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>过低母线电压</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>过高母线电压</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>母线电流限制</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>相电流报警</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>串口超时报警</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>转速报警</Name>
<Val>0.00000000000000</Val>
</DBL>
<DBL>
<Name>过热报警</Name>
<Val>0.00000000000000</Val>
</DBL>
<U16>
<Name>操作</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 2</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 3</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 4</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 5</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 6</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 7</Name>
<Val>0</Val>
</U16>
<U16>
<Name>操作 8</Name>
<Val>0</Val>
</U16>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>从文件加载</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
</Cluster>
<Cluster>
<Name>数据显示UI</Name>
<NumElts>20</NumElts>
<Boolean>
<Name>保存设置</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>从文件加载</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>恢复默认设置</Name>
<Val>0</Val>
</Boolean>
<String>
<Name></Name>
<Val></Val>
</String>
<I32>
<Name>实验</Name>
<Val>0</Val>
</I32>
<I32>
<Name>波形输出</Name>
<Val>0</Val>
</I32>
<I32>
<Name>组件</Name>
<Val>0</Val>
</I32>
<I32>
<Name>曲线</Name>
<Val>0</Val>
</I32>
<I32>
<Name>滤波器</Name>
<Val>0</Val>
</I32>
<Boolean>
<Name>删除曲线</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>清理图像</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>添加曲线</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>复选框</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>确定按钮</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>复选框 2</Name>
<Val>0</Val>
</Boolean>
<I32>
<Name>子图</Name>
<Val>0</Val>
</I32>
<U16>
<Name>显示模式</Name>
<Val>0</Val>
</U16>
<Path>
<Name>路径</Name>
<Val></Val>
</Path>
<Boolean>
<Name>删除子图</Name>
<Val>0</Val>
</Boolean>
<Boolean>
<Name>添加子图</Name>
<Val>0</Val>
</Boolean>
</Cluster>
<Cluster>
<Name>硬件配置</Name>
<NumElts>2</NumElts>
<String>
<Name>硬件引用句柄&lt;替换此项&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>信号类型&lt;替换该项&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Cluster>
<Name>记录配置</Name>
<NumElts>2</NumElts>
<Path>
<Name>记录文件基路径</Name>
<Val>C:\Users\fanwenhu\Documents\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<Refnum>
<Name>TDMS文件引用</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Cluster>
<Name></Name>
<NumElts>1</NumElts>
<Array>
<Name>子图所有曲线</Name>
<Dimsize>0</Dimsize>
<Dimsize>0</Dimsize>
<Dimsize>0</Dimsize>
<Cluster>
<Name>曲线</Name>
<NumElts>3</NumElts>
<String>
<Name>源</Name>
<Val></Val>
</String>
<String>
<Name>组件</Name>
<Val></Val>
</String>
<String>
<Name>滤波器</Name>
<Val></Val>
</String>
</Cluster>
</Array>
</Cluster>
</Cluster>
</LVData>